.event {
    width: 100%;
    height: 400px;
    background-color: #ff0175;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.left {
    max-width: 40%;
    padding: 20px;
    box-sizing: border-box;

}
.left img {
    max-width: 100%;
    height: auto;
    max-height: 350px;
    margin-top: 80px;
    margin-left: 56px;  
}

.right{
    max-width: 60%;
    padding: 20px;
    box-sizing: border-box;
}
.description{
    font-family: 'Hand of Jun', sans-serif;
    width: 100%;
    padding: 15px;
    line-height: 1.3;
    font-size: 1.5rem;
    font-weight: lighter;
}


@media (max-width: 767px) {
    .event {
        flex-direction: column;
        align-items: center;
        margin-top: 500px;
        height: auto;
    }
    .description{
        max-width: 80%;
    }

    .description,
    .event-photo {
        padding: 10px;
        margin: 10px 0;
    }
    .event-photo{
        /* margin-top: 100px; */
        max-width: 100%;
    }

    .event-photo {
        margin-right: 0;
        max-width: 350px;
    }

}