
.about{
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 300px;
    background-color: #252525;
    justify-content: space-between;
}

.about-description{
    max-width: 60%;
    box-sizing: border-box;
    padding: 20px;
}
.description{
    font-family: 'Hand of Jun', sans-serif;
    width: 100%;
    padding: 15px;
    line-height: 1.3;
    font-size: 1.5rem;
    font-weight: lighter;
}
.signature{
  max-height: 60px;
  margin-top: 10px;
  margin-left: 515px;
}
.about-photo{
    width: 40%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo{
    max-height: 100%;
    max-width: 100%;
    display: block;
}

/* responsive */

@media (max-width: 767px) {
    .about {
        flex-direction: column;
        align-items: center;
    }
    .about-description{
        max-width: 80%;
    }

    .about-description,
    .about-photo {
        padding: 10px;
        margin: 10px 0;
    }
    .about-photo{
        margin-top: -100px;
        max-width: 100%;
    }

    .photo {
        margin-right: 0;
        max-width: 350px;
    }

    .signature {
        margin-left: 135px;
    }
}